.contenedor {
    width:300px;
    margin: auto;
    padding: 10px;
    background: #EEEEEE;
    border: 1px solid #E0E0E0;
    font-style:bold;
}

.header__pantalla {
    width:100%;
    padding:.8rem .4rem;
    text-align:right;
    font-size:1.2rem;
    padding: 20px 15px;
    border-radius: 5px;
    background: #EF6C00;
    color: #FFF;
    margin-bottom:1rem;
}

.botones {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4, 50px);
    grid-gap:1rem;
}

.botones button {
    background: #1976D2;
    border: 1px solid #1565C0;
    color: #FFF;
    border-radius: 5px;
}
